# ignore fastqc html reports 
results/3_FASTQC_reports/*

# latex  files to ignore
LaTeX/*

# ignore micromamba env 
report-env/
.venv/
.env/
*.envrc

# ignore python 
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore my notes
notes.md
end
