# ignore fastqc html reports 
results/3_FASTQC_reports/*

# latex  files to ignore
*.out
LaTeX/*.log
*.aux
_minted-*
*.bbl
*.blg
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# ignore micromamba env 
report-env/
.venv/
.env/
*.envrc

# ignore python 
__pycache__/
*.pyc
*.pyo
*.pyd
