# latex  files to ignore
*.out
*.log
*.aux
_minted-*
*.bbl
*.blg
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# ignore micromamba env 
report-env/
.venv/
.env/
*.envrc

# ignore python 
__pycache__/
*.pyc
*.pyo
*.pyd
